openapi: 3.0.3
info:
  title: Acme Support API
  version: "1.0.0"
  description: |
    L'Acme Support API vous permet de créer et de suivre des tickets de support client.
    Utilisez-la pour soumettre de nouveaux problèmes depuis votre produit et tenir les utilisateurs informés de leur statut.
servers:
  - url: https://jamdesk-docs.jamdesk.app/api/playground/demo
security: []
paths:
  /tickets:
    get:
      summary: Lister les tickets de support
      description: Récupérer tous les tickets de support ouverts.
      operationId: listTickets
      responses:
        "200":
          description: Liste des tickets
          content:
            application/json:
              schema:
                type: object
                properties:
                  tickets:
                    type: array
                    items:
                      $ref: "#/components/schemas/TicketSummary"
                  total:
                    type: integer
              example:
                tickets:
                  - id: "tkt_9S8L2"
                    customer_id: "cus_2X9W8"
                    subject: "Export stuck on step 3"
                    priority: "high"
                    status: "open"
                    created_at: "2026-02-04T16:12:00Z"
                total: 1
    post:
      summary: Créer un ticket de support
      description: Créer un nouveau ticket pour un problème ou une demande client.
      operationId: createTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
            example:
              customer_id: "cus_2X9W8"
              subject: "Export stuck on step 3"
              priority: "high"
              tags: ["export", "bug"]
              message: "The export job fails with error 504 after 2 minutes."
      responses:
        "201":
          description: Ticket créé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
              example:
                id: "tkt_9S8L2"
                customer_id: "cus_2X9W8"
                subject: "Export stuck on step 3"
                priority: "high"
                status: "open"
                created_at: "2026-02-04T16:12:00Z"
        "400":
          description: Requête invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: "invalid_request"
                message: "subject is required"
  /tickets/{ticket_id}:
    get:
      summary: Obtenir un ticket de support
      description: Récupérer un ticket de support spécifique par son identifiant.
      operationId: getTicket
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Identifiant unique du ticket
          schema:
            type: string
          example: "tkt_9S8L2"
      responses:
        "200":
          description: Détails du ticket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
              example:
                id: "tkt_9S8L2"
                customer_id: "cus_2X9W8"
                subject: "Export stuck on step 3"
                priority: "high"
                status: "open"
                tags: ["export", "bug"]
                message: "The export job fails with error 504 after 2 minutes."
                created_at: "2026-02-04T16:12:00Z"
                updated_at: "2026-02-04T16:12:00Z"
components:
  schemas:
    CreateTicketRequest:
      type: object
      required:
        - customer_id
        - subject
        - message
      properties:
        customer_id:
          type: string
          description: Identifiant du client dans Acme.
        subject:
          type: string
          description: Résumé court du problème.
        priority:
          type: string
          enum: [low, normal, high, urgent]
        tags:
          type: array
          items:
            type: string
        message:
          type: string
          description: Description détaillée du problème.
    TicketSummary:
      type: object
      description: Ticket abrégé pour les réponses de liste (exclut le message et les tags).
      properties:
        id:
          type: string
        customer_id:
          type: string
        subject:
          type: string
        priority:
          type: string
        status:
          type: string
          enum: [open, pending, resolved]
        created_at:
          type: string
          format: date-time
    Ticket:
      type: object
      description: Détail complet du ticket, incluant le message et les tags.
      properties:
        id:
          type: string
        customer_id:
          type: string
        subject:
          type: string
        priority:
          type: string
        status:
          type: string
          enum: [open, pending, resolved]
        tags:
          type: array
          items:
            type: string
        message:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
