openapi: 3.0.3
info:
  title: Acme 支持 API
  version: "1.0.0"
  description: |
    Acme 支持 API 允许您创建和跟踪客户支持工单。
    使用它从您的产品中发布新问题，并让用户及时了解状态更新。
servers:
  - url: https://jamdesk-docs.jamdesk.app/api/playground/demo
security: []
paths:
  /tickets:
    get:
      summary: 列出支持工单
      description: 检索所有未关闭的支持工单。
      operationId: listTickets
      responses:
        "200":
          description: 工单列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  tickets:
                    type: array
                    items:
                      $ref: "#/components/schemas/TicketSummary"
                  total:
                    type: integer
              example:
                tickets:
                  - id: "tkt_9S8L2"
                    customer_id: "cus_2X9W8"
                    subject: "Export stuck on step 3"
                    priority: "high"
                    status: "open"
                    created_at: "2026-02-04T16:12:00Z"
                total: 1
    post:
      summary: 创建支持工单
      description: 为客户问题或请求创建新工单。
      operationId: createTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
            example:
              customer_id: "cus_2X9W8"
              subject: "Export stuck on step 3"
              priority: "high"
              tags: ["export", "bug"]
              message: "The export job fails with error 504 after 2 minutes."
      responses:
        "201":
          description: 工单已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
              example:
                id: "tkt_9S8L2"
                customer_id: "cus_2X9W8"
                subject: "Export stuck on step 3"
                priority: "high"
                status: "open"
                created_at: "2026-02-04T16:12:00Z"
        "400":
          description: 无效请求
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: "invalid_request"
                message: "subject is required"
  /tickets/{ticket_id}:
    get:
      summary: 获取支持工单
      description: 通过 ID 检索特定的支持工单。
      operationId: getTicket
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: 唯一工单标识符
          schema:
            type: string
          example: "tkt_9S8L2"
      responses:
        "200":
          description: 工单详情
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
              example:
                id: "tkt_9S8L2"
                customer_id: "cus_2X9W8"
                subject: "Export stuck on step 3"
                priority: "high"
                status: "open"
                tags: ["export", "bug"]
                message: "The export job fails with error 504 after 2 minutes."
                created_at: "2026-02-04T16:12:00Z"
                updated_at: "2026-02-04T16:12:00Z"
components:
  schemas:
    CreateTicketRequest:
      type: object
      required:
        - customer_id
        - subject
        - message
      properties:
        customer_id:
          type: string
          description: Acme 中的客户标识符。
        subject:
          type: string
          description: 问题的简短摘要。
        priority:
          type: string
          enum: [low, normal, high, urgent]
        tags:
          type: array
          items:
            type: string
        message:
          type: string
          description: 详细的问题描述。
    TicketSummary:
      type: object
      description: 用于列表响应的简略工单（不包含 message 和 tags）。
      properties:
        id:
          type: string
        customer_id:
          type: string
        subject:
          type: string
        priority:
          type: string
        status:
          type: string
          enum: [open, pending, resolved]
        created_at:
          type: string
          format: date-time
    Ticket:
      type: object
      description: 包含 message 和 tags 的完整工单详情。
      properties:
        id:
          type: string
        customer_id:
          type: string
        subject:
          type: string
        priority:
          type: string
        status:
          type: string
          enum: [open, pending, resolved]
        tags:
          type: array
          items:
            type: string
        message:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
