openapi: 3.0.3
info:
  title: Acme Support API
  version: "1.0.0"
  description: |
    La Acme Support API permite crear y hacer seguimiento de tickets de soporte al cliente.
    Úsala para publicar nuevos problemas desde tu producto y mantener a los usuarios informados sobre el estado.
servers:
  - url: https://jamdesk-docs.jamdesk.app/api/playground/demo
security: []
paths:
  /tickets:
    get:
      summary: Listar tickets de soporte
      description: Recuperar todos los tickets de soporte abiertos.
      operationId: listTickets
      responses:
        "200":
          description: Lista de tickets
          content:
            application/json:
              schema:
                type: object
                properties:
                  tickets:
                    type: array
                    items:
                      $ref: "#/components/schemas/TicketSummary"
                  total:
                    type: integer
              example:
                tickets:
                  - id: "tkt_9S8L2"
                    customer_id: "cus_2X9W8"
                    subject: "Export stuck on step 3"
                    priority: "high"
                    status: "open"
                    created_at: "2026-02-04T16:12:00Z"
                total: 1
    post:
      summary: Crear un ticket de soporte
      description: Crear un nuevo ticket para un problema o solicitud de un cliente.
      operationId: createTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
            example:
              customer_id: "cus_2X9W8"
              subject: "Export stuck on step 3"
              priority: "high"
              tags: ["export", "bug"]
              message: "The export job fails with error 504 after 2 minutes."
      responses:
        "201":
          description: Ticket creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
              example:
                id: "tkt_9S8L2"
                customer_id: "cus_2X9W8"
                subject: "Export stuck on step 3"
                priority: "high"
                status: "open"
                created_at: "2026-02-04T16:12:00Z"
        "400":
          description: Solicitud no válida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: "invalid_request"
                message: "subject is required"
  /tickets/{ticket_id}:
    get:
      summary: Obtener un ticket de soporte
      description: Recuperar un ticket de soporte específico por su ID.
      operationId: getTicket
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Identificador único del ticket
          schema:
            type: string
          example: "tkt_9S8L2"
      responses:
        "200":
          description: Detalles del ticket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
              example:
                id: "tkt_9S8L2"
                customer_id: "cus_2X9W8"
                subject: "Export stuck on step 3"
                priority: "high"
                status: "open"
                tags: ["export", "bug"]
                message: "The export job fails with error 504 after 2 minutes."
                created_at: "2026-02-04T16:12:00Z"
                updated_at: "2026-02-04T16:12:00Z"
components:
  schemas:
    CreateTicketRequest:
      type: object
      required:
        - customer_id
        - subject
        - message
      properties:
        customer_id:
          type: string
          description: Identificador del cliente en Acme.
        subject:
          type: string
          description: Resumen breve del problema.
        priority:
          type: string
          enum: [low, normal, high, urgent]
        tags:
          type: array
          items:
            type: string
        message:
          type: string
          description: Descripción detallada del problema.
    TicketSummary:
      type: object
      description: Ticket abreviado para respuestas de lista (excluye el mensaje y las etiquetas).
      properties:
        id:
          type: string
        customer_id:
          type: string
        subject:
          type: string
        priority:
          type: string
        status:
          type: string
          enum: [open, pending, resolved]
        created_at:
          type: string
          format: date-time
    Ticket:
      type: object
      description: Detalle completo del ticket, incluyendo el mensaje y las etiquetas.
      properties:
        id:
          type: string
        customer_id:
          type: string
        subject:
          type: string
        priority:
          type: string
        status:
          type: string
          enum: [open, pending, resolved]
        tags:
          type: array
          items:
            type: string
        message:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
